<script>
  $(document).ready(function() {
    $("#send").on("click", function() {
      const userText = $("#textInput").val();
      if (userText.trim() === "") return;

      $("#chatbox").append("<p><b>You:</b> " + userText + "</p>");
      $("#textInput").val("");

      $.post("/get", { msg: userText })
        .done(function(data) {
          $("#chatbox").append("<p><b>VincentAI:</b> " + data.response + "</p>");
        })
        .fail(function() {
          $("#chatbox").append("<p><b>Error:</b> Server not responding.</p>");
        });
    });
  });
</script>