/* Body themes */
body.dark {
    background: #0c0c0c;
    color: white;
}

body.light {
    background: #f8f8f8;
    color: black;
}

.theme-toggle {
    text-align: right;
    padding: 10px 20px;
}

.theme-toggle button {
    padding: 6px 14px;
    border-radius: 10px;
    border: none;
    background: #0babff;
    color: white;
    cursor: pointer;
}

/* Chat container */
.chat-container {
    width: 420px;
    margin: auto;
    background: #000;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 25px #00eaff;
}

/* Header */
.header {
    background: #00eaff;
    padding: 12px;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

/* Chat box */
.chat-box {
    height: 480px;
    overflow-y: scroll;
    padding: 20px;
}

/* Message bubbles */
.user-msg {
    background: #0084ff;
    color: white;
    padding: 10px 14px;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 12px;
}

.bot-msg {
    background: #0a5;
    color: white;
    padding: 12px 14px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 12px;
}

/* Input area */
.input-area {
    display: flex;
    gap: 5px;
    padding: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#send-btn {
    padding: 10px 16px;
    background: #00eaff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Warning */
.warning {
    text-align: center;
    margin-top: 10px;
    color: yellow;
}